<div class="container-fluid">
    <div class="row">
        <div class="col-3 text-center">
            <a href="" (click)="filter('')">
                <img src="" alt="">
                <h2>all products </h2>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="" (click)="filter('1')">
                <img src="" alt="">
                <h2>phone</h2>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="" (click)="filter('2')">
                <img src="" alt="">
                <h2>laptops</h2>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="" (click)="filter('3')">
                <img src="" alt="">
                <h2>smart watch</h2>
            </a>
        </div>
    </div>
</div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col-lg-3 mb-5" *ngFor="let i of filterCategory | filter: '':'productName'">
                <div class="card h-100 border border-dark">
                    <!-- Product image-->
                    <img style="height:200px;" class="card-img-top " src="{{i.productImg}}" />
                    <!-- Product details-->
                    <div class="card-body p-4 ">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                            <!-- {{i.price}} -->
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-black">
                        <div class="text-center"><a class="btn btn-warning btn-outline-dark mt-3"
                                routerLink="view-product/{{i.id}}">view</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>