<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImg}}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">BrandName | {{pdata.brand_name}}</div>
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 ">
                    <span class="">Price|{{pdata.price}}</span> <br>
                    <span>Rating| {{pdata.rating}}</span>
                </div>
                <p class="lead">Description|{{pdata.description}}</p>
                <h6>Reviews | {{pdata.review}}</h6>
                <h6>warranty | {{pdata.warranty}} year</h6>
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button class="btn btn-outline-light flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <a style="text-decoration: none;" href="edit-product/{{pdata.id}}">Edit</a>
                    </button>
                    <button class="btn btn-outline-light flex-shrink-0 ms-3" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <a style="text-decoration: none;" href="products/delete-product/{{pdata.id}}">Delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>